<!DOCTYPE html>
<html>
  <head>
  
    <title>Rorformation</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous">
    </script>

  </head>

  <body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">

      <a class="navbar-brand" href="<%= root_path %>">Ruby on Rails </a>
   
        <ul class="navbar-nav mr-auto">
         
          <li class="nav-item">
        
              <a class="nav-link" href="<%= posts_path %>">Articles</a>
          
          </li>

          <li class="nav-item">

              <a class="nav-link" href="<%= categories_path %>">Catégories</a>

          </li>
      
        </ul>
    </nav> 

    <div class="container" style="padding-top: 5rem;">

      <%= yield %>
  </div>

  </body>
</html>
